* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    width: 100vw;
    background-image: url("img/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.text {
    width: 60vw;
    margin: auto;
    padding-top: 30vh;
    text-align: center;
}

h1 {
    font-family: 'Marck Script', cursive;
    font-size: 5vw;
}

hr {
    width: 30vw;
    margin: auto;
    margin-bottom: 4vh;
}

p {
    font-family: 'Poiret One', cursive;
    font-size: 2vw;
    margin-bottom: 4vh;
}

button {
    font-family: 'Marck Script', cursive;
    font-size: 2vw;
    width: 15vw;
    height: 8vh;
    background-color: transparent;
    color: white;
    border: 0.5vh dotted white;
}