* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    padding: 100px 20px;
}

.movie-card {
    display: inline-block;
    width: 23%;
    height: 500px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 25px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.4s linear;
}