body {
    background-color: grey;
}

thead {
    font-size: 20pt;
}

tbody {
    color: darkkhaki;
}

tfoot {
    color: azure;
    font-weight: bold;
}

.iphone .phone::before {
    content: "🍎";
}

.android .phone::before {
    content: "🤖";
}

table .price::before {
    content: "💸";
}

td, th {
    border: 1px solid black;
    padding: 5px; 
}

th {
    border-top: 5px solid black;
}

table {
    border-collapse: collapse;
}

.one {
    height: 100px;
    width: 100px;
    background-color: darkgreen;
    top: 75vw;
}

.two {
    height: 200px;
    width: 200px;
    background-color: gold;
    top:auto
}

div {
    display: inline;
    position: absolute;
}