* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(8, 40, 61);
    padding: 100px 30px;
}

.movie-card {
    display: inline-block;
    width: 23%;
    height: 500px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 25px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.4s linear;
}

.movie-card:hover {
    transform: scale(1.1);
}

.card1 {
    background-image: url("img/film1-1.webp");
}

.card1.effect:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("img/film1-2.webp");
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.card2 {
    background-image: url("img/film2-1.webp");
}

.card2:hover {
    background-image: url("img/film2-2.webp");
}

.card3 {
    background-image: url("img/film3-1.webp");
}

.card3:hover {
    background-image: url("img/film3-2.webp");
}

.card4 {
    background-image: url("img/film4-1.webp");
}

.card4.effect:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("img/film4-2.webp");
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.card5 {
    background-image: url("img/film5-1.webp");
}

.card5:hover {
    background-image: url("img/film5-2.webp");
}

.effect:hover:before {
    opacity: 1;
}

